In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
zwembad_bezoekers_df = pd.read_csv('/Volumes/Samsung_T5/thesisIS/data/zwembad_bezoekers_anoniem.csv')

In [ ]:
zwembad_verkopen_df = pd.read_csv('/Volumes/Samsung_T5/thesisIS/data/zwembad_verkopen_anoniem.csv')

## Exploratory Data Analysis

### Zwembadbezoekers

#### Remove all columns with more than one unique value
#### Check columns with not many unique values and delete if applicable

In [ ]:
print(zwembad_verkopen_df.columns)

In [ ]:
print('There are '+ str(len(zwembad_verkopen_df.columns)) + ' columns to begin with.')

for column in list(zwembad_verkopen_df.columns):
    if len(zwembad_verkopen_df[column].unique()) < 2:
        del zwembad_verkopen_df[column]
    elif len(zwembad_verkopen_df[column].unique()) < 5:
        print(column)
        print('There are ' + str(len(zwembad_verkopen_df) - zwembad_verkopen_df[column].isna().sum()) + ' non na values for ' + column)        
        print(zwembad_verkopen_df[column].unique())

In [ ]:
del zwembad_verkopen_df['klant_btw-nr.']
del zwembad_verkopen_df['verkoop_provincie']
del zwembad_verkopen_df['verkoopsregel_prijsgroep']
del zwembad_verkopen_df['verkoopsregel_uren']
del zwembad_verkopen_df['adrescategorie']

In [ ]:
print('There are '+ str(len(zwembad_verkopen_df.columns)) + ' columns left after initial trimming.')

#### Check other columns

In [ ]:
for index, row in zwembad_verkopen_df.iterrows():
    for column in list(zwembad_verkopen_df.columns):
        print(column)
        print(row[column])
        
    break

In [ ]:
print(zwembad_bezoekers_df.columns)

In [ ]:
print('There are '+ str(len(zwembad_bezoekers_df.columns)) + ' columns to begin with.')

for column in list(zwembad_bezoekers_df.columns):
    if len(zwembad_bezoekers_df[column].unique()) < 2:
        del zwembad_bezoekers_df[column]
    elif len(zwembad_bezoekers_df[column].unique()) < 5:
        print(column)
        print('There are ' + str(len(zwembad_bezoekers_df) - zwembad_bezoekers_df[column].isna().sum()) + ' non na values for ' + column)        
        print(zwembad_bezoekers_df[column].unique())

In [ ]:
print('There are '+ str(len(zwembad_bezoekers_df.columns)) + ' columns left after initial trimming.')

#### Check other columns

In [ ]:
for index, row in zwembad_bezoekers_df.iterrows():
    for column in list(zwembad_bezoekers_df.columns):
        print(column)
        print(row[column])
    break

### Keep only Noorderparkerbad

Het is hier misschien nog mogelijk om meer data over te houden maar voor nu neem ik genoegen met ongeveer 1/5e van het totaal.

In [ ]:
zwembadverkopen_noorderparkbad_df = zwembad_verkopen_df[zwembad_verkopen_df['verkoop_divisie'] == 'NOORDERPARKBAD']

In [ ]:
print('There are ' + str(len(zwembadverkopen_noorderparkbad_df)) + ' observations for the Noorderparkbad sales data ')
print('This is ' + str(int((len(zwembadverkopen_noorderparkbad_df)/len(zwembad_verkopen_df))*100)) + '% of total data.')

In [ ]:
zwembadverkopen_noorderparkbad_df.to_excel('zwembadverkopen_noorderparkbad.xlsx')

In [ ]:
zwembadverkopen_noorderparkbad_df = pd.read_excel('zwembadverkopen_noorderparkbad.xlsx')

In [ ]:
zwembadbezoekers_noorderparkbad_df = zwembad_bezoekers_df[zwembad_bezoekers_df['logging_divisie'] == 'NOORDERPARKBAD']

In [ ]:
print('There are ' + str(len(zwembadbezoekers_noorderparkbad_df)) + ' observations for the Noorderparkbad visitors data ')
print('This is ' + str(int((len(zwembadbezoekers_noorderparkbad_df)/len(zwembad_bezoekers_df))*100)) + '% of total data.')

In [ ]:
zwembadbezoekers_noorderparkbad_df.to_excel('zwembadbezoekers_noorderparkbad.xlsx')

In [ ]:
zwembadbezoekers_noorderparkbad_df = pd.read_excel('zwembadbezoekers_noorderparkbad.xlsx')

### Merge datasets

In [ ]:
merged_noorderparkbad_df = pd.merge(zwembadverkopen_noorderparkbad_df, zwembadbezoekers_noorderparkbad_df, on='buurt_code')

In [ ]:
merged_noorderparkbad_df

In [ ]:
for index, row in merged_noorderparkbad_df.iterrows():
    for column in list(merged_noorderparkbad_df.columns):
        print(column)
        print(row[column])
    break

## Keep only relevant columns for clustering

### Swimming pool purchases

All columns are considered one by one.

In [ ]:
zwembadverkopen_noorderparkbad_df = pd.read_excel('zwembadverkopen_noorderparkbad.xlsx')

In [ ]:
for index, row in zwembadverkopen_noorderparkbad_df.iterrows():
    for column in list(zwembadverkopen_noorderparkbad_df.columns):
        print('Column name: ' + column)
        print('Column value (first row): ' + str(row[column]))
        print('Number of unique values in column: ' + str(len(zwembadverkopen_noorderparkbad_df[column].unique())))
        print('Number of NaN values in column: ' + str(zwembadverkopen_noorderparkbad_df[column].isna().sum()))
        print('\n')
    break

#### First remove all columns with more than 50% nans

In [ ]:
for column in list(zwembadverkopen_noorderparkbad_df.columns):
    if zwembadverkopen_noorderparkbad_df[column].isna().sum() > len(zwembadverkopen_noorderparkbad_df)/2:
        print('The column '+str(column+ 'has been deleted.'))
        del zwembadverkopen_noorderparkbad_df[column]

#### Identifiers

In [ ]:
del zwembadverkopen_noorderparkbad_df['Unnamed: 0']
del zwembadverkopen_noorderparkbad_df['Unnamed: 0.1']

In [ ]:
zwembadverkopen_noorderparkbad_df['addressid'].unique()
print('There are ' +str(len(zwembadverkopen_noorderparkbad_df['addressid'].unique()))+ ' unique values for addressid.')

print('\nKeep or not?')

#### Sales information

In [ ]:
print('There are ' +str(len(zwembadverkopen_noorderparkbad_df['verkoop_datum'].unique()))+' unique dates.')
print('There are ' +str(len(zwembadverkopen_noorderparkbad_df))+' unique sales.')

print('There are some datetimes which refer to more than one sale.')

In [ ]:
print('Verkoop_documenttype has two unique values: '+str(zwembadverkopen_noorderparkbad_df['verkoop_documenttype'].unique()))
print('What do they mean?')

In [ ]:
print('There are five verkooppunten: '+str(zwembadverkopen_noorderparkbad_df['verkoop_verkooppunt'].unique()))

#### Aantal

In [ ]:
print('The unique values of aantal are: ' + str(zwembadverkopen_noorderparkbad_df['aantal'].unique()))
print('\nWhy are there negative values?')
print('Why are there many large numbers?')

In [ ]:
zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['aantal'] == 4599]

#brian bekker vraag

#### Prices

In [ ]:
print(str(int(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_eenheidsprijs_(excl.)'] == 0])/len(zwembadverkopen_noorderparkbad_df)*100)) + '% of the prices ex btw are 0.')

In [ ]:
print('We are not interested in the price ex btw. per unit sold')

del zwembadverkopen_noorderparkbad_df['verkoopsregel_eenheidsprijs_(excl.)']

In [ ]:
print(str(int(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_eenheidsprijs_(incl.)'] == 0])/len(zwembadverkopen_noorderparkbad_df)*100)) + '% of the prices in btw are 0.')

In [ ]:
print('We are not interested in the price in btw. per unit sold')

del zwembadverkopen_noorderparkbad_df['verkoopsregel_eenheidsprijs_(incl.)']

In [ ]:
print('We are not interested in the tax amount.')

del zwembadverkopen_noorderparkbad_df['verkoopsregel_btw_bedrag']

In [ ]:
print(str(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_bedrag_korting'] == 0])/len(zwembadverkopen_noorderparkbad_df)*100) + '% of the sales are without discount.')
print(str('We are thus not interested in this variable.'))

del zwembadverkopen_noorderparkbad_df['verkoopsregel_bedrag_korting']

In [ ]:
print(str(int(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_btw%'] == 0])/len(zwembadverkopen_noorderparkbad_df)*100)) + '% of the prices are with 0% taxes.')
print(str(int(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_btw%'] == 6])/len(zwembadverkopen_noorderparkbad_df)*100)) + '% of the prices are with 6% taxes.')
print(str(int(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_btw%'] == 21])/len(zwembadverkopen_noorderparkbad_df)*100)) + '% of the prices are with 21% taxes')

In [ ]:
print(str(round((len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['bedrag'] == 0])/len(zwembadverkopen_noorderparkbad_df))*100,2)) + '% of the sales are registered for 0 euro.')

In [ ]:
print('We are not interested in the ex btw amount of the purchase.')

del zwembadverkopen_noorderparkbad_df['verkoopsregel_totaal_bedrag_(excl.)']

In [ ]:
print('We are not interested in the total btw %.')

del zwembadverkopen_noorderparkbad_df['verkoopsregel_btw%']

#### Accounting

In [ ]:
print('There are three article divisions: '+str(zwembadverkopen_noorderparkbad_df['verkoopsregel_artikelafdeling'].unique()))

print('What do these divisions mean?')

# brian

In [ ]:
print('There are six accounts : '+str(zwembadverkopen_noorderparkbad_df['verkoopsregel_grootboekrekening'].unique()))

print('What do these accounts mean?')

In [ ]:
print('There are three accounts : '+str(zwembadverkopen_noorderparkbad_df['verkoopsregel_kostenplaats'].unique()))

print('Why are noorderparkbad sales accounted at Zuiderbad?')

print('There are ' + str(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_kostenplaats'] == 'Zuiderbad'])) + ' sales at zuiderbad which are under the sales division Noorderparkbad.')

print('Figure this out.')

In [ ]:
zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_kostenplaats'] == 'Zuiderbad']['artikelomschrijving'].unique()

## Brian neerleggen

In [ ]:
print('The sales division and its id are all for Noorderparkbad so these columns are deleted.')

del zwembadverkopen_noorderparkbad_df['divisionid']
del zwembadverkopen_noorderparkbad_df['verkoop_divisie']

In [ ]:
print('There are three accounts : '+str(zwembadverkopen_noorderparkbad_df['verkoopsregel_artikelafdeling'].unique()))

print('Why are noorderparkbad sales accounted at Zuiderbad?')

print('There are ' + str(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_kostenplaats'] == 'Zuiderbad'])) + ' sales at zuiderbad which are under the sales division Noorderparkbad.')

print('Figure this out.')

#### Product

In [ ]:
print('There are twelve article groups : '+str(zwembadverkopen_noorderparkbad_df['artikelgroep'].unique()))

In [ ]:
print('There are twelve descriptions corresponding to these groups: '+str(zwembadverkopen_noorderparkbad_df['itemgroupdescription'].unique()))

In [ ]:
print('There are ' + str(len(zwembadverkopen_noorderparkbad_df['verkoopsregel_artikelcode'].unique())) + ' article codes, with ' + str(len(zwembadverkopen_noorderparkbad_df['artikelomschrijving'].unique())) + ' article descriptions, and ' + str(len(zwembadverkopen_noorderparkbad_df['verkoopsregel_omschrijving'].unique())) + ' sale descriptions.')

#### More identifiers

In [ ]:
del zwembadverkopen_noorderparkbad_df['id']
del zwembadverkopen_noorderparkbad_df['pointofsaleid']
del zwembadverkopen_noorderparkbad_df['customerid']
del zwembadverkopen_noorderparkbad_df['itemgroupid']
del zwembadverkopen_noorderparkbad_df['glaccountid']
del zwembadverkopen_noorderparkbad_df['itemdepartmentid']
del zwembadverkopen_noorderparkbad_df['employeeid']

In [ ]:
print('Only ' + str(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['factuur'] == True])) + ' sales have an invoice.')

In [ ]:
zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoop_nummer'] == 165715]

In [ ]:
print('There are ' + str(len(zwembadverkopen_noorderparkbad_df['verkoop_nummer'].unique())) + ' sale numbers.')
print('Example below.')

In [ ]:
print('There are ten sales percentages : '+str(zwembadverkopen_noorderparkbad_df['verkoopsregel_kortingspercentage'].unique()))

print('Example below.')

In [ ]:
zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_kortingspercentage'] == 0]

#### Shift data

In [ ]:
print('Number of shifts: ' +str(len(zwembadverkopen_noorderparkbad_df['dienst_nummer'].unique())))
print('This data is discarded for any further analysis (also the starting and end time of the shift).')

del zwembadverkopen_noorderparkbad_df['dienst_nummer']
del zwembadverkopen_noorderparkbad_df['dienst_starttijd']
del zwembadverkopen_noorderparkbad_df['dienst_eindtijd']

#### More sales data

In [ ]:
print('The number of visitors is also discarded for further analysis. The 168 unique values for this variable are: '+ str(zwembadverkopen_noorderparkbad_df['verkoopsregel_#_bezoekers'].unique()))

del zwembadverkopen_noorderparkbad_df['verkoopsregel_#_bezoekers']

In [ ]:
print('There are seven descriptions for the accounts: '+str(zwembadverkopen_noorderparkbad_df['grootboekrekening_omschrijving'].unique()))

print('Why does this number differ from the number of accounts found earlier?')

In [ ]:
print('There are twelve codes for the discounts: '+str(zwembadverkopen_noorderparkbad_df['kortingscode_korting'].unique()))

print('These numbers are not relevant so this column is deleted.')

del zwembadverkopen_noorderparkbad_df['kortingscode_korting']

#### Anonimized data

In [ ]:
print('There are ' + str(round(zwembadverkopen_noorderparkbad_df['klant_leeftijd_groep'].isna().sum()/len(zwembadverkopen_noorderparkbad_df)*100,2)) + '% missing values for the age groups.')

In [ ]:
print('There are ' + str(round(zwembadverkopen_noorderparkbad_df['buurt_code'].isna().sum()/len(zwembadverkopen_noorderparkbad_df)*100,2)) + '% missing values for the neighbourhood codes.')

#### Final recap

In [ ]:
for index, row in zwembadverkopen_noorderparkbad_df.iterrows():
    for column in list(zwembadverkopen_noorderparkbad_df.columns):
        print('Column name: ' + column)
        print('Column value (first row): ' + str(row[column]))
        print('Number of unique values in column: ' + str(len(zwembadverkopen_noorderparkbad_df[column].unique())))
        print('Number of NaN values in column: ' + str(zwembadverkopen_noorderparkbad_df[column].isna().sum()))
        print('\n')
    break
    
print('Remaining number of columns: ' +str(len(zwembadverkopen_noorderparkbad_df.columns)))

In [ ]:
zwembadverkopen_noorderparkbad_df.to_excel('zwembadverkopen_noorderparkbad_21.xlsx')
print('The dataframe has been saved as zwembadverkopen_noorderparkbad_21.xlsx')

### Swimming pool visitors

All columns are considered one by one.

In [ ]:
zwembadbezoekers_noorderparkbad_df = pd.read_excel('zwembadbezoekers_noorderparkbad.xlsx')

In [ ]:
for index, row in zwembadbezoekers_noorderparkbad_df.iterrows():
    for column in list(zwembadbezoekers_noorderparkbad_df.columns):
        print('Column name: ' + column)
        print('Column value (first row): ' + str(row[column]))
        print('Number of unique values in column: ' + str(len(zwembadbezoekers_noorderparkbad_df[column].unique())))
        print('Number of NaN values in column: ' + str(zwembadbezoekers_noorderparkbad_df[column].isna().sum()))
        print('\n')
    break
    
print('There are ' + str(len(zwembadbezoekers_noorderparkbad_df.columns)) + ' columns.')

#### First remove all columns with more than 50% nans

In [ ]:
zwembadbezoekers_noorderparkbad_df['customercountry'].unique()

In [ ]:
for column in list(zwembadbezoekers_noorderparkbad_df.columns):
    if zwembadbezoekers_noorderparkbad_df[column].isna().sum() > len(zwembadbezoekers_noorderparkbad_df)/2:
        print('The column: ' + str(column) + ' has been deleted.')
        del zwembadbezoekers_noorderparkbad_df[column]

#### Identifiers

In [ ]:
del zwembadbezoekers_noorderparkbad_df['Unnamed: 0']
del zwembadbezoekers_noorderparkbad_df['Unnamed: 0.1']

In [ ]:
zwembadbezoekers_noorderparkbad_df['addressid'].unique()
print('There are ' +str(len(zwembadbezoekers_noorderparkbad_df['addressid'].unique()))+ ' unique values for addressid.')

print('\nKeep or not?')

In [ ]:
for index, row in zwembadbezoekers_noorderparkbad_df.iterrows():
    for column in list(zwembadbezoekers_noorderparkbad_df.columns):
        print('Column name: ' + column)
        print('Column value (first row): ' + str(row[column]))
        print('Number of unique values in column: ' + str(len(zwembadbezoekers_noorderparkbad_df[column].unique())))
        print('Number of NaN values in column: ' + str(zwembadbezoekers_noorderparkbad_df[column].isna().sum()))
        print('\n')
    break
    
print('There are ' + str(len(zwembadbezoekers_noorderparkbad_df.columns)) + ' columns.')

#### Product

In [ ]:
print('There are 180 different subscription articles: ' + str(zwembadbezoekers_noorderparkbad_df['abonnement_artikel'].unique()))

In [ ]:
print('These subscription articles have 178 descriptions: ' + str(zwembadbezoekers_noorderparkbad_df['omschrijving_artikel'].unique()))

In [ ]:
print('These subscriptions articles belong to one of nine article groups: ' + str(zwembadbezoekers_noorderparkbad_df['artikelgroep'].unique()))

In [ ]:
print('These nine article groups have the following descriptions: ' + str(zwembadbezoekers_noorderparkbad_df['artikelgroep_omschrijving'].unique()))

#### Logging and purchase data

In [ ]:
print('Each observation has its own logging datetime.')

In [ ]:
print('There are ' + str(len(zwembadbezoekers_noorderparkbad_df['purchasedate'].unique())) + ' unique purchase datetimes assigned to each logging.')

print('\tsidenote: there are ' + str(len(zwembadverkopen_noorderparkbad_df['verkoop_datum'].unique())) + ' unique purchase datetimes assigned to each sale.')

In [ ]:
for index, row in zwembadbezoekers_noorderparkbad_df.iterrows():
    for column in list(zwembadbezoekers_noorderparkbad_df.columns):
        print('Column name: ' + column)
        print('Column value (first row): ' + str(row[column]))
        print('Number of unique values in column: ' + str(len(zwembadbezoekers_noorderparkbad_df[column].unique())))
        print('Number of NaN values in column: ' + str(zwembadbezoekers_noorderparkbad_df[column].isna().sum()))
        print('\n')
    break
    
print('There are ' + str(len(zwembadbezoekers_noorderparkbad_df.columns)) + ' columns.')

#### Subscription data

In [ ]:
zwembadbezoekers_noorderparkbad_df['abonnement_aantal_dagen_geldig'].hist()
print('Subscription duration in days histogram')

In [ ]:
zwembadbezoekers_noorderparkbad_df['abonnement_aantal_weken_geldig'].hist()
print('Subscription duration in weeks histogram')

In [ ]:
zwembadbezoekers_noorderparkbad_df['abonnement_aantal_maanden_geldig'].hist()
print('Subscription duration in months histogram')

In [ ]:
zwembadbezoekers_noorderparkbad_df['abonnement_#_beurten'].hist()
print('Subscription number of entries histogram')

#### More logging data

In [ ]:
print('Number of entries reduced: ' + str(zwembadbezoekers_noorderparkbad_df['logging_#_beurten_afgewaardeerd'].unique()))
del zwembadbezoekers_noorderparkbad_df['logging_#_beurten_afgewaardeerd']
print('This column is deleted.')

In [ ]:
print('Remaining number of entries: ' + str(zwembadbezoekers_noorderparkbad_df['logging_#_rest._beurten'].unique()))
del zwembadbezoekers_noorderparkbad_df['logging_#_rest._beurten']
print('This column is deleted.')

In [ ]:
print('Remaining number of days')
zwembadbezoekers_noorderparkbad_df['logging_#_rest._dagen'].hist()
del zwembadbezoekers_noorderparkbad_df['logging_#_rest._dagen']
print('This column is deleted.')

In [ ]:
print('Number of visitors: '  + str(zwembadbezoekers_noorderparkbad_df['logging_#_bezoekers'].unique()))
print('Why are there negative numbers? And such large numbers?')
print('This column is deleted.')
del zwembadbezoekers_noorderparkbad_df['logging_#_bezoekers']

In [ ]:
print('The unique divisions: ' + zwembadbezoekers_noorderparkbad_df['logging_divisie'].unique())

In [ ]:
print(str(len(zwembadbezoekers_noorderparkbad_df[zwembadbezoekers_noorderparkbad_df['logging_divisie'] == 'NOORDERPARKBAD'])) + ' entries are from the Noorderparkbad. ')

In [ ]:
print(str(len(zwembadbezoekers_noorderparkbad_df[zwembadbezoekers_noorderparkbad_df['logging_divisie'] == 'NOORDERPARKBAD'])) + ' entries are from the Noorderparkbad. ')
print(str(len(zwembadbezoekers_noorderparkbad_df[zwembadbezoekers_noorderparkbad_df['logging_divisie'] == 'HET ZUIDERBAD'])) + ' entries are from the Zuiderbad. ')
print(str(len(zwembadbezoekers_noorderparkbad_df[zwembadbezoekers_noorderparkbad_df['logging_divisie'] == 'DE MIRANDABAD'])) + ' entries are from the Mirandabad. ')
print(str(len(zwembadbezoekers_noorderparkbad_df[zwembadbezoekers_noorderparkbad_df['logging_divisie'] == 'FLEVOPARKBAD'])) + ' entries are from the Flevoparkbad. ')

zwembadbezoekers_noorderparkbad_df = zwembadbezoekers_noorderparkbad_df[zwembadbezoekers_noorderparkbad_df['logging_divisie'] == 'NOORDERPARKBAD']

print('\nRemoved all entries other than the Noorderparkbad.')

In [ ]:
print(len(zwembad_bezoekers_df[zwembad_bezoekers_df['logging_divisie'] == 'NOORDERPARKBAD']))
print(len(zwembadbezoekers_noorderparkbad_df[zwembadbezoekers_noorderparkbad_df['logging_divisie'] == 'NOORDERPARKBAD']))

#brian checken

#### More identifiers

In [ ]:
print('The following columns are redundant because this information is also in the other columns.')
del zwembadbezoekers_noorderparkbad_df['id']
print('The column id has been removed.')
del zwembadbezoekers_noorderparkbad_df['zipcodeid']
print('The column zipcodeid has been removed.')
del zwembadbezoekers_noorderparkbad_df['divisionid']
print('The column divisionid has been removed.')
del zwembadbezoekers_noorderparkbad_df['itemid']
print('The column itemid has been removed.')

#### More article data

In [ ]:
print('Prices range between :' +str(zwembadbezoekers_noorderparkbad_df['abonnement_artikelprijs_incl._btw'].min()) +' and '+str(zwembadbezoekers_noorderparkbad_df['abonnement_artikelprijs_incl._btw'].max()))
print('Why are there negative values? Are these deductions?')

In [ ]:
print('Article group codes: ' + str(zwembadbezoekers_noorderparkbad_df['artikelafdeling_code'].unique()))
print('Delete this column because it only has one value.')
del zwembadbezoekers_noorderparkbad_df['artikelafdeling_code']

In [ ]:
print('Article group code descriptions: ' + str(zwembadbezoekers_noorderparkbad_df['artikelafdeling_omschrijving'].unique()))
print('Delete this column because it only has one value.')
del zwembadbezoekers_noorderparkbad_df['artikelafdeling_omschrijving']

#### Salespoint

In [ ]:
print('Sales points: ' + str(zwembadbezoekers_noorderparkbad_df['verkooppunt'].unique()))

#### More subscription data

In [ ]:
print('There is data about the start and end of the subscriptions for ' + str(zwembadbezoekers_noorderparkbad_df['sub_scription_start_date'].isna().sum()) + ' entries. This accounts for ' + str(round(zwembadbezoekers_noorderparkbad_df['sub_scription_start_date'].isna().sum()/len(zwembadbezoekers_noorderparkbad_df)*100,2)) + '% of all observations')

#### Country

In [ ]:
print(str(round(len(zwembadbezoekers_noorderparkbad_df[zwembadbezoekers_noorderparkbad_df['country'] == 'Nederland'])/len(zwembadbezoekers_noorderparkbad_df), 2)*100)+' % of the visitors are from Nederland.')

#### Access groups

In [ ]:
print('There are 16 access groups: ' + str(zwembadbezoekers_noorderparkbad_df['toegangsgroep'].unique()))

#### Division data

In [ ]:
print('There are two purchase divisions: ' + str(zwembadbezoekers_noorderparkbad_df['purchasedivision'].unique()))
print('Number of entries for Noorderparkbad: ' + str(len(zwembadbezoekers_noorderparkbad_df[zwembadbezoekers_noorderparkbad_df['purchasedivision'] == 'NOORDERPARKBAD'])))
print('Number of entries for Floraparkbad: ' + str(len(zwembadbezoekers_noorderparkbad_df[zwembadbezoekers_noorderparkbad_df['purchasedivision'] == 'Floraparkbad'])))
print('Is there a reason that it is sometimes accounted as Floraparkbad?')

#### Anonimzed data

In [ ]:
print('There are ' + str(round(zwembadbezoekers_noorderparkbad_df['klant_leeftijd_groep'].isna().sum()/len(zwembadbezoekers_noorderparkbad_df)*100,2)) + '% missing values for the age groups.')

In [ ]:
print('There are ' + str(round(zwembadbezoekers_noorderparkbad_df['buurt_code'].isna().sum()/len(zwembadbezoekers_noorderparkbad_df)*100,2)) + '% missing values for the neighbourhood codes.')

#### Final recap

In [ ]:
for index, row in zwembadbezoekers_noorderparkbad_df.iterrows():
    for column in list(zwembadbezoekers_noorderparkbad_df.columns):
        print('Column name: ' + column)
        print('Column value (first row): ' + str(row[column]))
        print('Number of unique values in column: ' + str(len(zwembadbezoekers_noorderparkbad_df[column].unique())))
        print('Number of NaN values in column: ' + str(zwembadbezoekers_noorderparkbad_df[column].isna().sum()))
        print('\n')
    break
    
print('Remaining number of columns: ' +str(len(zwembadbezoekers_noorderparkbad_df.columns)))

In [ ]:
zwembadbezoekers_noorderparkbad_df.to_excel('zwembadbezoekers_noorderparkbad_21.xlsx')
print('The dataframe has been saved as zwembadbezoekers_noorderparkbad_21.xlsx')