In [ ]:
import pandas as pd

In [ ]:
zwembad_bezoekers_df = pd.read_csv('data/zwembad_bezoekers_anoniem.csv')

In [ ]:
zwembad_verkopen_df = pd.read_csv('data/zwembad_verkopen_anoniem.csv')

## Exploratory Data Analysis

### Zwembadbezoekers

#### Remove all columns with more than one unique value
#### Check columns with not many unique values and delete if applicable

In [ ]:
print(zwembad_verkopen_df.columns)

In [ ]:
print('There are '+ str(len(zwembad_verkopen_df.columns)) + ' columns to begin with.')

for column in list(zwembad_verkopen_df.columns):
    if len(zwembad_verkopen_df[column].unique()) < 2:
        del zwembad_verkopen_df[column]
    elif len(zwembad_verkopen_df[column].unique()) < 5:
        print(column)
        print('There are ' + str(len(zwembad_verkopen_df) - zwembad_verkopen_df[column].isna().sum()) + ' non na values for ' + column)        
        print(zwembad_verkopen_df[column].unique())

In [ ]:
del zwembad_verkopen_df['klant_btw-nr.']
del zwembad_verkopen_df['verkoop_provincie']
del zwembad_verkopen_df['verkoopsregel_prijsgroep']
del zwembad_verkopen_df['verkoopsregel_uren']
del zwembad_verkopen_df['adrescategorie']

In [ ]:
print('There are '+ str(len(zwembad_verkopen_df.columns)) + ' columns left after initial trimming.')

#### Check other columns

In [ ]:
for index, row in zwembad_verkopen_df.iterrows():
    for column in list(zwembad_verkopen_df.columns):
        print(column)
        print(row[column])
        
    break

In [ ]:
print(zwembad_bezoekers_df.columns)

In [ ]:
print('There are '+ str(len(zwembad_bezoekers_df.columns)) + ' columns to begin with.')

for column in list(zwembad_bezoekers_df.columns):
    if len(zwembad_bezoekers_df[column].unique()) < 2:
        del zwembad_bezoekers_df[column]
    elif len(zwembad_bezoekers_df[column].unique()) < 5:
        print(column)
        print('There are ' + str(len(zwembad_bezoekers_df) - zwembad_bezoekers_df[column].isna().sum()) + ' non na values for ' + column)        
        print(zwembad_bezoekers_df[column].unique())

In [ ]:
print('There are '+ str(len(zwembad_bezoekers_df.columns)) + ' columns left after initial trimming.')

#### Check other columns

In [ ]:
for index, row in zwembad_bezoekers_df.iterrows():
    for column in list(zwembad_bezoekers_df.columns):
        print(column)
        print(row[column])
    break

### Keep only Noorderparkerbad

Het is hier misschien nog mogelijk om meer data over te houden maar voor nu neem ik genoegen met ongeveer 1/5e van het totaal.

In [ ]:
zwembadverkopen_noorderparkbad_df = zwembad_verkopen_df[zwembad_verkopen_df['verkoop_divisie'] == 'NOORDERPARKBAD']

In [ ]:
print('There are ' + str(len(zwembadverkopen_noorderparkbad_df)) + ' observations for the Noorderparkbad sales data ')
print('This is ' + str(int((len(zwembadverkopen_noorderparkbad_df)/len(zwembad_verkopen_df))*100)) + '% of total data.')

In [ ]:
zwembadverkopen_noorderparkbad_df.to_excel('zwembadverkopen_noorderparkbad.xlsx')

In [ ]:
zwembadverkopen_noorderparkbad_df = pd.read_excel('zwembadverkopen_noorderparkbad.xlsx')

In [ ]:
zwembadbezoekers_noorderparkbad_df = zwembad_bezoekers_df[zwembad_bezoekers_df['artikelafdeling_omschrijving'] == 'Noorderparkbad']

In [ ]:
print('There are ' + str(len(zwembadbezoekers_noorderparkbad_df)) + ' observations for the Noorderparkbad visitors data ')
print('This is ' + str(int((len(zwembadbezoekers_noorderparkbad_df)/len(zwembad_bezoekers_df))*100)) + '% of total data.')

In [ ]:
zwembadbezoekers_noorderparkbad_df.to_excel('zwembadbezoekers_noorderparkbad.xlsx')

In [ ]:
zwembadbezoekers_noorderparkbad_df = pd.read_excel('zwembadbezoekers_noorderparkbad.xlsx')

### Merge datasets

In [ ]:
merged_noorderparkbad_df = pd.merge(zwembadverkopen_noorderparkbad_df, zwembadbezoekers_noorderparkbad_df, on='buurt_code')

In [ ]:
merged_noorderparkbad_df

In [ ]:
for index, row in merged_noorderparkbad_df.iterrows():
    for column in list(merged_noorderparkbad_df.columns):
        print(column)
        print(row[column])
    break

### Keep only relevant columns for clustering

#### Identifiers

In [ ]:
del zwembadverkopen_noorderparkbad_df['Unnamed: 0']
del zwembadverkopen_noorderparkbad_df['Unnamed: 0.1']

#### Aantal

In [ ]:
zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['aantal'] == 21221]

In [ ]:
zwembadverkopen_noorderparkbad_df['aantal'].unique()

Waarom zijn er negatieve waarden in aantallen? Waarom zijn er veel grote waarden (boven de 1.000)?

#### Verkoop documenttypes

In [ ]:
zwembadverkopen_noorderparkbad_df['verkoop_documenttype'].unique()

Wat betekent verkoop documenttype 0 of 5?

#### Prijzen

In [ ]:
print(str(int(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_eenheidsprijs_(excl.)'] == 0])/len(zwembadverkopen_noorderparkbad_df)*100)) + '% van de prijzen ex btw zijn 0 euro.')

In [ ]:
print(str(int(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_eenheidsprijs_(incl.)'] == 0])/len(zwembadverkopen_noorderparkbad_df)*100)) + '% van de prijzen in btw zijn 0 euro.')

In [ ]:
print(str(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_bedrag_korting'] == 0])/len(zwembadverkopen_noorderparkbad_df)*100) + '% van de aankopen zijn zonder korting.')

In [ ]:
del

In [ ]:
print(str(int(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_btw%'] == 0])/len(zwembadverkopen_noorderparkbad_df)*100)) + '% van de prijzen zijn opgenomen met 0% btw.')
print(str(int(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_btw%'] == 6])/len(zwembadverkopen_noorderparkbad_df)*100)) + '% van de prijzen zijn opgenomen met 6% btw.')
print(str(int(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['verkoopsregel_btw%'] == 21])/len(zwembadverkopen_noorderparkbad_df)*100)) + '% van de prijzen zijn opgenomen met 21% btw.')

In [ ]:
print(str(len(zwembadverkopen_noorderparkbad_df[zwembadverkopen_noorderparkbad_df['bedrag'] == 0])/len(zwembadverkopen_noorderparkbad_df)*100) + '% van de aankopen zijn zonder korting.')

In [ ]:
for index, row in zwembadverkopen_noorderparkbad_df.iterrows():
    for column in list(zwembadverkopen_noorderparkbad_df.columns):
        print('Column name: ' + column)
        print('Column value (first row): ' + str(row[column]))
        print('Number of unique values in column: ' + str(len(zwembadverkopen_noorderparkbad_df[column].unique())))
        print('Number of NaN values in column: ' + str(zwembadverkopen_noorderparkbad_df[column].isna().sum()))
        print('\n')
    break

#### More identifiers

In [ ]:
del zwembadverkopen_noorderparkbad_df['id']
del zwembadverkopen_noorderparkbad_df['pointofsaleid']
del zwembadverkopen_noorderparkbad_df['customerid']
del zwembadverkopen_noorderparkbad_df['itemgroupid']
del zwembadverkopen_noorderparkbad_df['glaccountid']
del zwembadverkopen_noorderparkbad_df['itemdepartmentid']
del zwembadverkopen_noorderparkbad_df['employeeid']

In [ ]:
l'n(zwembadverkopen_noorderparkbad_df

In [ ]:
zwembadbezoekers_noorderparkbad_df['klant_leeftijd_groep'].isna().sum()/len(zwembadverkopen_noorderparkbad_df)

In [ ]:
for column in list(zwembadverkopen_noorderparkbad_df.columns):
    print(column)
    print(len(zwembadverkopen_noorderparkbad_df[column].unique()))

In [ ]:
for index, row in zwembadbezoekers_noorderparkbad_df.iterrows():
    for column in list(zwembadbezoekers_noorderparkbad_df.columns):
        print(column)
        print(row[column])
    break

In [ ]:
zwembadbezoekers_noorderparkbad_df

In [ ]:
for column in list(zwembadbezoekers_noorderparkbad_df.columns):
    print(column)
    print(len(zwembadbezoekers_noorderparkbad_df[column].unique()))